<!DOCTYPE html>
<html>
	<head>
		<title>
			Mango
		</title>
	</head>
	<body>
		<h1>{{ category_name }}</h1>
		{% if category %}
			{% if pages %}
			<ul>
				{% for page in pages %}
				<li><a href="{{ page.url }}">{{ page.title}}</a></li>
				{% endfor %}
			</ul>
			{% else %}
			<strong>No pages in the current category</strong>

			{% endif %}
		<a href="/mango/category/{{ category_name_url }}/add_page">Add a new page</a>
		{% else %}
		<strong>The category {{ category_name }} does not exist</strong>
		{% endif %}

	</body>
</html>